.contenedor-tarjetas {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.tarjeta {
  width: 20%;
  height: 400px;
  background-color: lightblue;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tarjeta img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}